
.header{
    background-color: white;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3), 0 0 6px 2px rgba(0,0,0,0.15);
    display: none;

}
.main{
    width: 100%;
    background-color: white;
    color: #333;
    padding-bottom: 500px;
    
}

.footer {
    background-color:#f6f9fa;
    color: #999;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
  }